.idea
exercises/train/*
exercises/validation/*
*.h5
*.tflite
models/*
*.zip
*.tar
*.tar.gz
exercises/sarcasm.json

# Exercise 4
notebooks/exercise_4/sarcasm.json

# Notebooks
.ipynb_checkpoints

# Images
*.png
*.jpeg
*.jpg

# Licenses
LICENSE.txt